.sublinkContainerOuter {
    @apply w-screen bg-white py-8 px-12 shadow-magical
}

.navCatGrid {
    @apply grid grid-cols-4
}

.sublinkContainerInner {
    @apply flex flex-col
}


.mainLink {
    @apply text-sm
}

.visible {
    display: block;
    position: fixed;
    left: 0px;
    margin-left: 0px !important;
}

.underline {
    @apply border-b border-black
}

.invisible {
    display: none;
}

.linkContainer {
    @apply px-3
}

.bottomPadding {
    @apply pb-2
}

